<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/static/style.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Journey</title>
</head>
<body>
<div class="container">
    <div th:replace="/general.html :: menu"></div>
    <div th:replace="/general.html :: header"></div>

    <div class="pageInfo" th:text="${pageInfo}"></div>

    <div class="list">
        <div class="npp table_head">#</div>
        <div class="table_head column" th:each="string : ${headers}">
            <span th:text="${string}"></span>
        </div>
        <nav class="button table_head">Show</nav>
    </div>

    <div class="list" th:each="entity, iterator: ${entities}">
        <div class="npp" th:text="${iterator.count}"></div>
        <div class="column" th:each="string : ${entity}">
            <span th:text="${string}"></span>
        </div>

        <nav class="button">
            <a class="table_ref" th:href="@{{url}(url=${url}+${entity[0]})}">Подробно</a>
        </nav>
    </div>
</div>

<div class="pagination">
    <div class="pagination_block"><a class="pagination_ref" th:href="@{{url}(url=${url}+'prev')}">&#9756;- Предыдущая </a></div>
    <div class="page_num" th:text="${pager}"></div>
    <div class="pagination_block"><a class="pagination_ref" th:href="@{{url}(url=${url}+'next')}"> Следующая -&#9758;</a></div>
</div>

<div class="footer" th:replace="/general.html :: footer"></div>
</body>
</html>