<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/static/style.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Journey</title>
</head>
<body>
<div class="container">
    <div th:replace="/general.html :: menu"></div>
    <div th:replace="/general.html :: header"></div>
    <div class="user_role_password"> <div>dilan@gmail.com</div> - ROLE_ADMIN  123</div>
    <div class="user_role_password"> <div>gilmour@gmail.com</div> - ROLE_TICKET 123</div>
    <div class="user_role_password"> <div>admin@ttt.ua</div> - ROLE_ADMIN, ROLE_TICKET 123</div>
    <div class="footer" th:replace="/general.html :: footer"></div>
</div>
</body>
</html>