<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/static/style.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Journey</title>
</head>
<body>
<div class="container">
    <div th:replace="/general.html :: menu"></div>
    <div th:replace="/general.html :: header"></div>
    <div class="menu_item swagger">
        <h2>Swagger</h2>
        <a th:href="@{/api/swagger-ui.html}">http://vovanik.ddns.net/journey/api/swagger-ui.html</a>
    </div>
    <div class="clearfix"></div>
    <div class="footer" th:replace="/general.html :: footer"></div>
</div>
</body>
</html>
