<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/static/style.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Journey</title>
</head>

<body>
<div class="container">
    <div th:replace="/general.html :: menu"></div>
    <div th:replace="/general.html :: header"></div>
    <div class="pageInfo" th:text="${pageInfo}"></div>

    <div class="list route_view_header">
        <div class="route_view_column">Номер</div>
        <div class="route_view_column">Отправление</div>
        <div class="route_view_column">Прибытие</div>
        <div class="route_view_column">Мест</div>
        <div class="route_view_column">Свободных мест</div>
        <div class="route_view_column">Маршрут</div>
        <div class="route_view_info">Транспортное средство</div>
    </div>

    <div class="list">

        <div class="route_view_column" th:text="${name}"></div>
        <div class="route_view_column" th:text="${departure}"></div>
        <div class="route_view_column" th:text="${arrival}"></div>
        <div class="route_view_column" th:text="${tickets}"></div>
        <div class="route_view_column" th:text="${places}"></div>
        <div class="route_view_column" th:text="${route}"></div>
        <div class="route_view_info" th:text="${vehicle}"></div>
    </div>
    <div class="station_view_routes">
        <div class="station_view_route" th:each="station, iterator: ${stations}">
            <div th:text="${station}"></div>
        </div>
    </div>
    <div class="footer" th:replace="/general.html :: footer"></div>
</div>
</body>

</html>
