<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/static/style.css}"/>
    <link rel="shortcut icon" th:href="@{/resources/static/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Journey</title>
</head>

<body>
<div class="container">
    <div th:replace="/general.html :: menu"></div>
    <div th:replace="/general.html :: header"></div>
    <div class="pageInfo" th:text="${pageInfo}"></div>

    <div class="list vehicle_view_header">
        <div class="vehicle_view_id">ID</div>
        <div class="vehicle_view_column">Name</div>
        <div class="vehicle_view_column">Type</div>
        <div class="vehicle_view_column">Capacity</div>
    </div>

    <div class="list">
        <div class="vehicle_view_id" th:text="${entity.id}"></div>
        <div class="vehicle_view_column" th:text="${entity.name}"></div>
        <div class="vehicle_view_column" th:text="${entity.vehicleType}"></div>
        <div class="vehicle_view_column" th:text="${entity.capacity}"></div>
    </div>
    <div class="footer" th:replace="/general.html :: footer"></div>
</div>
</body>
</html>
