
body {
    font-family: sans-serif;
    font-size: smaller;
    background-color: #050505;
    color: lightgoldenrodyellow;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/********************** main menu *************************/
.main_menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap:  wrap;
}

.menu_item{
    margin: 5px 20px;
    line-height: 24px;
}

.menu_item a {
    text-decoration: none;
    color: rgb(69, 192, 21);
    cursor: pointer;
}

.menu_item a:hover {
    color: yellow;
}

/* ************************* header ********************************** */
.pageInfo {
    font-size: 24px;
    margin: 50px 10%;
}

.text_block {
    width: 80%;
    margin: 10px auto;
}

.head {
    display: flex;
    /*position: relative;*/
}

.head-logo {
    /*position: absolute;*/
    /*top: -48px;*/
    height: 256px;
    width: 400px;
    background-image: url("journey.jpg");
    background-size: cover;
}

.head-text {
    /*position: relative;*/
    /*left: 600px;*/
    padding-left: 10%;
    line-height: 200px;
    font-size: xx-large;
    font-weight: bold;
    height: 256px;
}

.button {
    text-align: center;
    /*border: 2px solid blue;*/
    cursor: pointer;
}


/* ******************* footer ********************** */

.footer {
    display: flex;
    width: 50%;
    margin: 5vh auto;
}
.footer_left{
    width: 50%;
    font-size: x-small;
}
.footer_reffs {
    text-decoration: none;
    color: yellow;
}

.footer_about {
    width: 50%;
    font-size: x-small;
    text-align: right;
}

/* ******************* table ********************** */

.table_ref {
    text-decoration: none;
    color: yellow;
}

.table_ref:hover {
    color: #faf7ed;
}

/* ****************** paging  ***************** */

.pagination {
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.pagination_block {
    width: 30%;
    text-align: center;
}

.pagination_ref {
    text-decoration: none;
    color: yellow;
}

.pagination_ref:hover {
    color: #faf7ed;
}

/* ****************** common_view ***************** */

.list {
    display: flex;
    flex-direction: row;
    line-height: 24px;
    width: 100%;
}

.list > div {
    padding: 3px 12px;
    border: #ac0757 1px solid;
}

.table_head {
    font-weight: bold;
    color: #a3a312;
}

.column:nth-of-type(-n+2) {
    width: 48px;
}

.column:nth-of-type(n+3) {
    width: 20%;
}

.column:last-of-type {
    width: 100%;
}

.list > .button {
    width: 220px;
    border: #ac0757 1px solid;
}

.npp {
    width: 48px;
}


/****************** client_view ************************/

.client_view_id {
    width: 48px;
}

.client_view_column {
    width: 20%;
}

.client_view_header {
    font-weight: bold;
    color: #bdbd39;
}

/****************** vehicle_view ************************/

.vehicle_view_id {
    width: 48px;
}

.vehicle_view_column {
    width: 20%;
}

.vehicle_view_header {
    font-weight: bold;
    color: #bdbd39;
}

/****************** station ************************/

.station_view_id {
    width: 48px;
}

.station_view_column {
    width: 10%;
}

.station_view_header {
    font-weight: bold;
    color: #bdbd39;
}

.station_view_info {
    width: calc(50% - 48px);
    color: #bdbd39;
    font-size: x-small;
}

.station_view_routes {
    margin: 32px 0;
    color: #2ed90f;
    width: 100%;
}

.station_view_route {
    margin: 5px 10px 5px 10%;
}

/****************** route ************************/

.route_view_id {
    width: 48px;
}

.route_view_column {
    width: 10%;
}

.route_view_header {
    font-weight: bold;
    color: #bdbd39;
}

.route_view_info {
    width: calc(50% - 48px);
    color: #bdbd39;
    font-size: x-small;
}

.route_view_stations {
    margin: 32px 0;

    color: #2ed90f;
    width: 100%;
}

.route_view_station {
    margin: 10px 10px 5px 10%;
}

/***************** Help page *******************/
.help_page.header{
    color: #e2e2ae;
    font-size: medium;
    margin: 5vh 0 1vh 10px;
}

.help_page.menu_item{
    color: yellow;
    font-size: small;
    margin-left: 3%;
}

.help_text{
    color: #ecec95;
    margin-left: 5%;
    font-size: small;
}

.help_page.list{
    color: #eeeed9;
    font-size: small;
}

.help_page.li{
    font-size: small;
    line-height: 2em;
}
.help_page.text{
    color: tomato;
}

.user_role_password{
    font-size: smaller;
    margin: 10px auto 10px 70%;
    width: 29%;
    display: flex;
}

.user_role_password>div{
    margin: 0 10px 0 0;
}

.common_text{
    padding: .5vw 4%;
    line-height: 1.6em;
}